examples/basic.json
[
  {
    "id": "b333aac5.8be6a8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3a964070.37941",
    "type": "inject",
    "z": "b333aac5.8be6a8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 60,
    "wires": [["2017a5a9.9aa3da"]]
  },
  {
    "id": "e95ea90a.a813d8",
    "type": "debug",
    "z": "b333aac5.8be6a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 260,
    "wires": []
  },
  {
    "id": "b670d9f3.134eb8",
    "type": "delete-session",
    "z": "b333aac5.8be6a8",
    "name": "",
    "x": 260,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "19944fc9.c9237",
    "type": "catch",
    "z": "b333aac5.8be6a8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 240,
    "y": 580,
    "wires": [["3a338a9f.17c156"]]
  },
  {
    "id": "3a338a9f.17c156",
    "type": "debug",
    "z": "b333aac5.8be6a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "x": 400,
    "y": 580,
    "wires": []
  },
  {
    "id": "54afd8dd.3df5a8",
    "type": "debug",
    "z": "b333aac5.8be6a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 790,
    "y": 340,
    "wires": []
  },
  {
    "id": "5f57519b.33bc9",
    "type": "element-action",
    "z": "b333aac5.8be6a8",
    "name": "click go",
    "locateUsing": "css selector",
    "locateValue": "#search_button_homepage",
    "action": "click",
    "sendKeys": "",
    "attribute": "",
    "x": 400,
    "y": 340,
    "wires": [["6a3b88d8.2791a"]]
  },
  {
    "id": "a5053d5f.b6a638",
    "type": "browser-action",
    "z": "b333aac5.8be6a8",
    "name": "navigate to",
    "action": "navigateTo",
    "url": "https://duckduckgo.com",
    "width": "",
    "height": "",
    "keysArr": "",
    "x": 431.5,
    "y": 181,
    "wires": [["7e7366f3.e7b74"]]
  },
  {
    "id": "7e7366f3.e7b74",
    "type": "browser-action",
    "z": "b333aac5.8be6a8",
    "name": "get title",
    "action": "getTitle",
    "url": "",
    "width": "",
    "height": "",
    "keysArr": "",
    "x": 234.5,
    "y": 260,
    "wires": [["e95ea90a.a813d8", "1e414894.80c9f7"]]
  },
  {
    "id": "6a3b88d8.2791a",
    "type": "browser-action",
    "z": "b333aac5.8be6a8",
    "name": "get title",
    "action": "getTitle",
    "url": "",
    "width": "",
    "height": "",
    "keysArr": "",
    "x": 570.5,
    "y": 339,
    "wires": [["54afd8dd.3df5a8", "b670d9f3.134eb8"]]
  },
  {
    "id": "1e414894.80c9f7",
    "type": "element-action",
    "z": "b333aac5.8be6a8",
    "name": "send keys",
    "locateUsing": "css selector",
    "locateValue": "#search_form_input_homepage",
    "action": "sendKeys",
    "sendKeys": "hi",
    "object": "str",
    "attribute": "",
    "x": 233,
    "y": 340,
    "wires": [["5f57519b.33bc9"]]
  },
  {
    "id": "2017a5a9.9aa3da",
    "type": "new-session",
    "z": "b333aac5.8be6a8",
    "name": "",
    "webdriverUri": "",
    "webdriverProvider": "",
    "webdriverBrowser": "",
    "logLevel": "error",
    "x": 238,
    "y": 181,
    "wires": [["a5053d5f.b6a638"]]
  }
]
